.container-fluid#title(style="background-color:black")
  img.img-responsive.center-block(src='/images/landing_cotw1.jpg')
  img#subtitle.img-responsive.center-block(src='/images/landing_cotw2.jpg')

  div.text-center
    a.btn.btn-success(href="new") New Game
    a.btn.btn-default(href="load") Load Game
    a.btn.btn-default(href="overview") Overview

