.tile {
    height: 32px;
    width: 32px;
    display: inline-block;
    position: absolute;
}

.tile.rock {
    background: url('assets/original/tiles.png') -0px -0px
}

.tile.grass {
    background: url('assets/original/tiles.png') -0px -32px
}

.tile.darkDgn {
    background: url('assets/original/tiles.png') -0px -64px
}

.tile.water {
    background: url('assets/original/tiles.png') -0px -96px
}

.tile.path {
    background: url('assets/original/tiles.png') -0px -128px
}

.tile.litDgn {
    background: url('assets/original/tiles.png') -0px -160px
}

.tile.pathRock {
    background: url('assets/original/tiles.png') -32px -0px
}

.tile.pathGrass {
    background: url('assets/original/tiles.png') -32px -32px
}

.tile.wallDarkDgn {
    background: url('assets/original/tiles.png') -32px -64px
}

.tile.waterGrass {
    background: url('assets/original/tiles.png') -32px -96px
}

.tile.waterPath {
    background: url('assets/original/tiles.png') -32px -128px
}

.tile.wallLitDgn {
    background: url('assets/original/tiles.png') -32px -160px
}

.tile.grass50Cave50 {
    background: url('assets/original/tiles.png') -0px -192px
}

.tile.grass10Cave90 {
    background: url('assets/original/tiles.png') -32px -192px
}

.tile.white50Cave50 {
    background: url('assets/original/tiles.png') -0px -224px
}

.tile.white90Cave10 {
    background: url('assets/original/tiles.png') -32px -224px
}

.tile.crop {
    background: url('assets/original/tiles.png') -64px -32px
}

.tile.entry {
    background: url('assets/original/tiles.png') -0px -32px
}

.tile.building {
    background: url('assets/original/tiles.png') -0px -32px
}

.tile.treasurePile {
    background: url('assets/original/tiles.png') -128px -640px
}