.tile {
    height: 32px;
    width: 32px;
    display: inline-block;
    position: absolute;
}

.rock {
    background: url('assets/original/tiles.png') -0px -0px;
}

.grass {
    background: url('assets/original/tiles.png') -0px -32px;
}

.darkdgn {
    background: url('assets/original/tiles.png') -0px -64px;
}

.water {
    background: url('assets/original/tiles.png') -0px -96px;
}

.path {
    background: url('assets/original/tiles.png') -0px -128px;
}

.litdgn {
    background: url('assets/original/tiles.png') -0px -160px;
}

.pathrock {
    background: url('assets/original/tiles.png') -32px -0px;
}

.pathgrass {
    background: url('assets/original/tiles.png') -32px -32px;
}

.walldarkdgn {
    background: url('assets/original/tiles.png') -32px -64px;
}

.watergrass {
    background: url('assets/original/tiles.png') -32px -96px;
}

.waterpath {
    background: url('assets/original/tiles.png') -32px -128px;
}

.walllitdgn {
    background: url('assets/original/tiles.png') -32px -160px;
}

.grass50cave50 {
    background: url('assets/original/tiles.png') -0px -192px;
}

.grass10cave90 {
    background: url('assets/original/tiles.png') -32px -192px;
}

.white50cave50 {
    background: url('assets/original/tiles.png') -0px -224px;
}

.white90cave10 {
    background: url('assets/original/tiles.png') -32px -224px;
}

.crop {
    background: url('assets/original/tiles.png') -64px -32px;
}

.entry {
    background: url('assets/original/tiles.png') -0px -32px;
}

.treasurepile {
    background: url('assets/original/tiles.png') -128px -640px;
}

.mineentrance {
    background: url('assets/original/tiles.png') -64px -0px;
}
.fountain {
    background: url('assets/original/tiles.png') -96px -96px;
}
.sign {
    background: url('assets/original/tiles.png') -160px -0px;
}
.well {
    background: url('assets/original/tiles.png') -160px -32px;
}
.vegepatch {
    background: url('assets/original/tiles.png') -128px -32px;
}
.wagon {
    background: url('assets/original/tiles.png') -192px -32px;
}
.stairsdown {
    background: url('assets/original/tiles.png') -96px -128px;
}
.stairsup {
    background: url('assets/original/tiles.png') -64px -128px;
}
.doorclosed {
    background: url('assets/original/tiles.png') -64px -160px;
}
.dooropen {
    background: url('assets/original/tiles.png') -96px -160px;
}