.container-fluid#title(style="background-color:black")
  img.img-responsive.center-block(src='/images/landing_cotw1.jpg')
  img#subtitle.img-responsive.center-block(src='/images/landing_cotw2.jpg')

  div.text-center
    .btn.btn-success New Game
    .btn.btn-default Load Game
    .btn.btn-default Overview
